.boton{
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue; 
       
}

body {
    text-align: center; 
}

#frmTablero{
    border-style: outset;
    border-color: black;
    width: 400px;
    margin: auto;
}
